.tarjetaAPI,
.favoritescard,
.misgifoscard {
    position: relative;
}

.tarjetaAPI{

    .overlay-colorselect{
        border-radius: 10px;
    }

}

.card-trending {
    z-index: 10;
    width: 357px;
    height: 275px;
}

.cardoptions {

    &.cardoptionshover {
        display: none;
    }

    .card-interaction1,
    .card-interaction2,
    .card-interaction3 {
        position: absolute;
        top: 10px;
        cursor: pointer;
        z-index: 40;
    }

    .card-interaction1 {
        right: 10px;

    }

    .card-interaction2 {
        right: 55px;
    }

    .card-interaction3 {
        right: 100px;
    }

    &>.card-interaction3-active {
        position: absolute;
        right: 105.90px;
        transform: scale(0.885);
        top: 17px;
        cursor: pointer;
        z-index: 40;
        display: none;

        &.display {
            display: inline-block;
        }
    }

    .cardtitles {
        top: 65.82%;
        left: 18px;
        position: absolute;
        color: #FFFFFF;
        pointer-events: none;
        z-index: 40;

        &>h4 {
            font: 400 15px/18px $roboto;
            margin-bottom: 5px;
            text-align: left;
        }

        &>p {
            font: bold 1rem/19px $roboto;
        }

    }

    .overlay-colorselect {
        position: absolute;
        pointer-events: none;
        right: 0;
        left: 0;
        bottom: 3px;
        top: 0;
        background: #562ee5c0;
        opacity: 0.6;
        z-index: 20;
        display: block;
    }

    .overlay-colorselect8 {
        position: absolute;
        pointer-events: none;
        right: 0;
        left: 0;
        bottom: 8px;
        top: 0;
        background: #562ee5c0;
        opacity: 0.6;
        z-index: 20;
        display: block;
    }

}

.card-max-active{
    position:absolute;
    right: 20.415%;
    bottom:71px;
    transform: scale(0.9);
    display:none; 

    &.display{
        display: inline-block;
    }
}