.seccion2-main {
    background-color: var(--bgseccion2);
    @include flex($direction:column);
    transition: 0.7s;

    .titulo-seccion2 {
        text-align: center;
        margin: 67px auto 53px auto;

        &>h3 {
            font: bold 1.5625rem/30px $montserrat;
        }

        &>p {
            margin-top: 12px;
            font: 400 18px $roboto;
            color: var(--negro);
        }
    }


    .carrousel {
        @include flex();
        max-width: 87vw;
        margin-bottom: 182px;
        gap: 25px;

        &>.firstarrow>.flecha,
        .lastarrow>.flecha {
            display: block;
            cursor: pointer;
        }


        .cards {
            position: relative;
            @include flex($justify:flex-start);
            gap: 28px;
            max-width: 73vw;
            overflow: hidden;

            .tarjeta {
                width: 100%;
                height: 100%;
                position: relative;
                display: block;
            }
        }
    }
}

@media (min-width:200px) and (max-width:600px) {

    .seccion2-main {

        .titulo-seccion2 {
            &>p {
                max-width: 80vw
            }
        }


        .carrousel {
            max-width: 95vw;

            &>.firstarrow>.flecha,
            .lastarrow>.flecha {
                display: none;
            }


            .cards {
                // gap: 10px;
                max-width: 95vw;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    width: 0;
                }

            }
        }

    }



}