.tarjetaAPI,.favoritescard,.misgifoscard{
    position: relative;
}

.cardoptions{
                    
    &.cardoptionshover1,&.cardoptionshover2{
        display: none;
    }

    .card1-interaction1,.card2-interaction1,.card1-interaction2,.card2-interaction2,.card1-interaction3,.card2-interaction3{
        position: absolute;
        top: 10px;
        cursor: pointer;
        z-index: 40;
    }

    .card1-interaction1,.card2-interaction1{
    right: 10px;

}

    .card1-interaction2,.card2-interaction2{
        right: 55px;
    }

    .card1-interaction3,.card2-interaction3{
        right: 100px;
    }

    .card1-interaction3-active,.card2-interaction3-active{
        position: absolute;
        right: 105.90px;
        transform: scale(0.885);
        top: 17px;
        cursor: pointer;
        z-index: 40;
        display: none;

        &.display{
            display: inline-block;
        }
    }

    .card1-info,.card2-info{
        top: 65.82%;
        left: 18px;
        position: absolute;
        color: #FFFFFF;
        pointer-events: none;
        z-index: 40;

        &>h4{
            font: 400 15px/18px $roboto;
            margin-bottom: 5px;
            text-align: left;
        }

        &>p{
            font: bold 1rem/19px $roboto;
        }

    }

.overlay-colorselect{
    position: absolute;
    pointer-events: none;
    right: 0;
    left: 0;
    bottom: 3px;
    top: 0;
    background: #562ee5c0;
    opacity: 0.6;
    z-index: 20;
    display:block;
}

.overlay-colorselect8{
    position: absolute;
    pointer-events: none;
    right: 0;
    left: 0;
    bottom: 8px;
    top: 0;
    background: #562ee5c0;
    opacity: 0.6;
    z-index: 20;
    display:block;
}

}

.card3-interaction3-active{
    // position: absolute;
    // right: 105.90px;
    // bottom: 16px;
    // cursor: pointer;
    // z-index: 40;
    transform: scale(0.885);

    display: none;

    &.display{
        display: inline-block;
    }
}

.maxcard{
    position: absolute; 
    bottom:22.5px; 
    right: 79.5px;
    cursor:pointer; 

    &.display{
        display: inline-block;
    }
}

.card-trending{
    z-index: 10;
    width: 357px;
    height: 275px;
}

